#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  #user {
    box-sizing: border-box;
    padding: 5px 5px;
    margin: 6px;

    border: 1px solid black;
    border-radius: 4px;
  }
  #pw {
    box-sizing: border-box;
    padding: 5px 5px;
    margin: 6px;

    border: 1px solid black;
    border-radius: 4px;
  }
}
#enterButton {
  margin-top: 20px;
  #enter {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  font-size: 12px;
  padding: 5px 5px;
  border-radius: 8px;
  border: 1px solid black;
  }
}