#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 8ex);
  padding-bottom: 8ex;
  #login {
    display: inline-block;
    text-align: center;
    border-style: solid;
    padding: 5ex 5ex 4ex 5ex;
    border-width: thin;
    border-radius: 2ex;
    box-shadow: 1ex 1ex 1ex 1ex grey;
    border: 1.5px solid black;
    #logo {
      width: 5em;
      height: auto;
    }
  }
}
