#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 8ex);
  padding-bottom: 8ex;
  background-color: #f9f871;
  #login {
    height: 314px;
    background-color: whitesmoke;
    display: inline-block;
    text-align: center;
    border-style: solid;
    padding: 1ex 2ex 2ex 2ex;
    border-width: thin;
    border-radius: 2ex;
    border: 1.5px solid black;
    #logo {
      width: 5em;
      height: auto;
    }
  }
}
