.navbar {
  background-color: white;
  border-bottom: 1px solid black;
  box-shadow: 0 1ex 1ex 1ex grey;
  height: 8ex;
  font-size: 14px;
  .dropdown-menu {
    font-size: 14px;
    margin-top: -5px;
    margin-left: -65px;
  }
}
