@import "../../index.scss";
.navbar {
  background-color: $themeblue;
  border-bottom: 1px solid black;
  height: $navbarheight;
  font-size: 16px;
  .dropdown-menu {
    font-size: 14px;
    margin-top: 11px;
    margin-left: -57px;
  }
  .navbar-nav > a.nav-link,
  .dropdown.nav-item > a.nav-link {
    color: white;
  }
  .navbar-nav > a.nav-link:hover,
  .dropdown.nav-item > a.nav-link:hover {
    color: $themecharcoal;
  }
}
