#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  #login {
    display: inline-block;
    text-align: center;
    border-style: solid;
    padding: 5ex 5ex 5ex 5ex;
    border-width: thin;
    border-radius: 2ex;
    box-shadow: 1ex 1ex 1ex 1ex grey;
    #logo {
      width: 13em;
      height: auto;
    }
  }
}
