@import "../../index.scss";
.accountCreator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 8ex);
  padding-bottom: 8ex;
  background-color: $themecharcoal;
  #userCredentials {
    height: 285px;
    background-color: whitesmoke;
    display: inline-block;
    text-align: center;
    border-style: solid;
    padding: 2ex 2ex 2ex 2ex;
    border-width: thin;
    border-radius: 2ex;
    border: 1.5px solid black;
    #grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
}
